In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("201809-citibike-tripdata.csv")

In [4]:
df.shape

(1877884, 15)

In [5]:
df['tripduration'].mean() / 60

16.125248648656324

In [6]:
df[df['start station name'] == df['end station name']].count()

tripduration               41364
starttime                  41364
stoptime                   41364
start station id           41364
start station name         41364
start station latitude     41364
start station longitude    41364
end station id             41364
end station name           41364
end station latitude       41364
end station longitude      41364
bikeid                     41364
usertype                   41364
birth year                 41364
gender                     41364
dtype: int64

In [7]:
df[df['start station name'] == df['end station name']]['bikeid'].nunique()

9939

In [8]:
df['bikeid'].value_counts()

33875    559
33772    549
34357    549
33868    533
33878    532
34232    528
33927    527
34256    522
34000    521
33931    514
34135    513
33956    513
34258    513
34093    511
33989    508
34020    505
34419    504
34119    504
34397    502
33782    501
33823    501
34386    500
34076    497
34203    497
33762    496
33963    496
33789    495
33897    495
33860    495
34322    494
        ...
19411      2
34577      2
34894      2
34429      2
31617      1
34539      1
24763      1
25612      1
30757      1
30475      1
27401      1
33184      1
34622      1
34904      1
34569      1
34474      1
34460      1
28520      1
19420      1
34508      1
34886      1
34623      1
25299      1
34544      1
19073      1
34867      1
15834      1
32379      1
34431      1
29726      1
Name: bikeid, Length: 10892, dtype: int64

In [9]:
df.groupby(['bikeid']).agg({'tripduration': sum})

        tripduration
bikeid
14529         216078
14530         193475
14531         124101
14532         113390
14534         124291
14537         137277
14540         108563
14541         151946
14545         154761
14548          68235
14549         125969
14551         112468
14552          53548
14553         117232
14555         147809
14558          87194
14559         179903
14561         161482
14562         176230
14563         130371
14567         104629
14570          87809
14574          17865
14575          91209
14576         178139
14577         111091
14578          71877
14579         108411
14580         108907
14581          58408
...              ...
34867            226
34868         208003
34869         250008
34870          97669
34871          83603
34872           5594
34876         106200
34877           1052
34879          11476
34880            678
34881          22390
34882           2516
34883           6238
34884          31585
34886            761
34887           3649
34888           4688
34889           2330
34891           2385
34892           5424
34893          13624
34894            549
34895          65046
34896           1086
34897           1356
34899           4270
34902           9953
34903           8397
34904           5407
34907          40395

[10892 rows x 1 columns]

In [10]:
df.groupby(['bikeid'])[['tripduration']].mean().sort_values('tripduration', ascending=False)

         tripduration
bikeid
17548   488022.400000
28520   417717.000000
17431   394605.833333
19083   335620.142857
18041   103932.100000
28053    93774.750000
29186    81651.173913
34541    67145.750000
29402    65119.083333
21575    63279.636364
27128    61421.222222
27911    50466.906977
30497    45982.764706
26368    45745.920000
32258    44411.904762
25379    40397.636364
17677    40196.777778
29328    39940.000000
16520    31673.687500
34529    30034.928571
25630    29925.947368
27928    26731.148148
30121    26639.777778
27745    26383.142857
34592    25556.166667
33876    24665.024691
27122    24618.454545
30768    24274.892857
34684    22908.525424
16701    22869.522388
...               ...
34539      457.000000
34887      456.125000
19092      447.818182
15623      435.250000
33184      422.000000
34434      416.666667
34502      406.000000
29052      404.714286
34635      401.800000
34891      340.714286
34880      339.000000
29726      338.000000
34431      329.000000
34623      325.000000
33230      325.000000
34769      308.173077
17148      303.500000
30475      279.000000
25299      278.000000
34894      274.500000
33074      269.000000
34877      263.000000
15288      248.000000
19411      242.000000
34867      226.000000
22368      224.111111
34896      217.200000
14761      182.666667
25612       72.000000
32379       64.000000

[10892 rows x 1 columns]

In [11]:
df['start station id'].isnull().sum()

716

In [12]:
df.groupby(['usertype'])[['tripduration']].mean() / 60

            tripduration
usertype
Customer       33.415379
Subscriber     13.332348

In [13]:
df[df['start station name'] != df['end station name']]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
5,3326,2018-09-01 00:00:29.3030,2018-09-01 00:55:56.2020,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,21693,Subscriber,1977,2
6,233,2018-09-01 00:00:27.2780,2018-09-01 00:04:20.7420,3526.0,31 St & 23 Ave,40.774788,-73.912555,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,29789,Subscriber,1989,1
7,285,2018-09-01 00:00:31.4250,2018-09-01 00:05:17.4110,358.0,Christopher St & Greenwich St,40.732916,-74.007114,405.0,Washington St & Gansevoort St,40.739323,-74.008119,32861,Subscriber,1991,1
8,1127,2018-09-01 00:00:30.9660,2018-09-01 00:19:18.4710,285.0,Broadway & E 14 St,40.734546,-73.990741,405.0,Washington St & Gansevoort St,40.739323,-74.008119,25039,Subscriber,1982,1
9,423,2018-09-01 00:00:42.1670,2018-09-01 00:07:45.6770,319.0,Fulton St & Broadway,40.711066,-74.009447,426.0,West St & Chambers St,40.717548,-74.013221,20508,Subscriber,1974,2
10,327,2018-09-01 00:00:45.2480,2018-09-01 00:06:12.2720,3509.0,Lenox Ave & W 115 St,40.801194,-73.950074,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,31497,Subscriber,1993,1
11,541,2018-09-01 00:00:45.7840,2018-09-01 00:09:47.0470,3077.0,Stagg St & Union Ave,40.708771,-73.950953,3059.0,Pulaski St & Marcus Garvey Blvd,40.693398,-73.939877,21632,Subscriber,1990,1
12,535,2018-09-01 00:01:12.1920,2018-09-01 00:10:07.3130,500.0,Broadway & W 51 St,40.762288,-73.983362,493.0,W 45 St & 6 Ave,40.756800,-73.982912,21698,Customer,1971,1
13,147,2018-09-01 00:01:16.2250,2018-09-01 00:03:43.8950,3134.0,3 Ave & E 62 St,40.763126,-73.965269,3376.0,E 65 St & 2 Ave,40.764719,-73.962221,32191,Subscriber,1995,1
14,454,2018-09-01 00:01:19.1080,2018-09-01 00:08:53.7710,479.0,9 Ave & W 45 St,40.760193,-73.991255,458.0,11 Ave & W 27 St,40.751396,-74.005226,16773,Subscriber,1983,1
15,893,2018-09-01 00:01:20.0300,2018-09-01 00:16:13.3650,3558.0,Bergen St & Vanderbilt Ave,40.679439,-73.968044,3396.0,Clinton St & 4 Place,40.678356,-74.000145,17360,Customer,1987,1
16,1138,2018-09-01 00:01:29.1710,2018-09-01 00:20:27.9310,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,372.0,Franklin Ave & Myrtle Ave,40.694546,-73.958014,18964,Customer,1985,1
17,401,2018-09-01 00:01:32.9170,2018-09-01 00:08:14.3650,350.0,Clinton St & Grand St,40.715595,-73.987030,473.0,Rivington St & Chrystie St,40.721101,-73.991925,29786,Subscriber,1984,1
18,353,2018-09-01 00:01:46.8690,2018-09-01 00:07:40.2730,3384.0,Smith St & 3 St,40.678724,-73.995991,3389.0,Carroll St & Columbia St,40.683046,-74.003486,25552,Subscriber,1985,1
19,252,2018-09-01 00:02:03.7960,2018-09-01 00:06:15.9050,350.0,Clinton St & Grand St,40.715595,-73.987030,308.0,St James Pl & Oliver St,40.713079,-73.998512,32175,Subscriber,1982,1
20,1585,2018-09-01 00:02:07.5200,2018-09-01 00:28:33.1040,302.0,Avenue D & E 3 St,40.720828,-73.977932,388.0,W 26 St & 10 Ave,40.749718,-74.002950,26483,Subscriber,1985,2
21,278,2018-09-01 00:02:19.7770,2018-09-01 00:06:58.4760,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,473.0,Rivington St & Chrystie St,40.721101,-73.991925,33686,Subscriber,1997,1
22,213,2018-09-01 00:02:22.8150,2018-09-01 00:05:56.2500,379.0,W 31 St & 7 Ave,40.749156,-73.991600,334.0,W 20 St & 7 Ave,40.742388,-73.997262,29390,Subscriber,1982,1
23,1250,2018-09-01 00:02:21.3210,2018-09-01 00:23:12.2750,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,33149,Subscriber,1968,1
25,199,2018-09-01 00:02:34.1100,2018-09-01 00:05:53.8670,261.0,Johnson St & Gold St,40.694749,-73.983625,239.0,Willoughby St & Fleet St,40.691966,-73.981302,15745,Subscriber,1988,1
26,141,2018-09-01 00:02:40.5310,2018-09-01 00:05:01.5500,3002.0,South End Ave & Liberty St,40.711512,-74.015756,363.0,West Thames St,40.708347,-74.017134,34042,Subscriber,1966,1
27,107,2018-09-01 00:02:40.1510,2018-09-01 00:04:27.4570,453.0,W 22 St & 8 Ave,40.744751,-73.999154,470.0,W 20 St & 8 Ave,40.743453,-74.000040,26401,Subscriber,1976,2
28,447,2018-09-01 00:02:42.7440,2018-09-01 00:10:10.5150,3256.0,Pier 40 - Hudson River Park,40.727714,-74.011296,238.0,Bank St & Washington St,40.736197,-74.008592,16726,Customer,1969,0
29,1172,2018-09-01 00:02:45.5570,2018-09-01 00:22:18.0980,3126.0,44 Dr & Jackson Ave,40.747182,-73.943264,3597.0,43 St & Broadway,40.757728,-73.916637,32782,Subscriber,1986,1
30,1031,2018-09-01 00:02:53.4670,2018-09-01 00:20:04.8660,532.0,S 5 Pl & S 5 St,40.710451,-73.960876,403.0,E 2 St & 2 Ave,40.725029,-73.990697,24913,Subscriber,1997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877852,471,2018-09-30 23:57:25.7200,2018-10-01 00:05:17.1060,432.0,E 7 St & Avenue A,40.726218,-73.983799,531.0,Forsyth St & Broome St,40.718939,-73.992663,34846,Subscriber,1942,1
1877853,329,2018-09-30 23:57:24.5960,2018-10-01 00:02:54.2780,470.0,W 20 St & 8 Ave,40.743453,-74.000040,3255.0,8 Ave & W 31 St,40.750585,-73.994685,34356,Customer,1969,0
1877854,767,2018-09-30 23:57:40.8410,2018-10-01 00:10:28.8210,304.0,Broadway & Battery Pl,40.704633,-74.013617,311.0,Norfolk St & Broome St,40.717227,-73.988021,25296,Subscriber,1982,1
1877855,807,2018-09-30 23:57:43.9930,2018-10-01 00:11:11.7430,151.0,Cleveland Pl & Spring St,40.722104,-73.997249,376.0,John St & William St,40.708621,-74.007222,29754,Subscriber,1979,1
1877856,130,2018-09-30 23:57:50.5420,2018-10-01 00:00:01.4870,462.0,W 22 St & 10 Ave,40.746920,-74.004519,453.0,W 22 St & 8 Ave,40.744751,-73.999154,34242,Subscriber,1967,1
1877857,2537,2018-09-30 23:58:15.5890,2018-10-01 00:40:32.9370,415.0,Pearl St & Hanover Square,40.704718,-74.009260,3656.0,E 2 St & Avenue A,40.723077,-73.985836,14901,Subscriber,1986,1
1877858,1395,2018-09-30 23:58:23.5640,2018-10-01 00:21:38.8660,402.0,Broadway & E 22 St,40.740343,-73.989551,238.0,Bank St & Washington St,40.736197,-74.008592,30722,Subscriber,1980,1
1877859,937,2018-09-30 23:58:29.7150,2018-10-01 00:14:07.5590,3656.0,E 2 St & Avenue A,40.723077,-73.985836,167.0,E 39 St & 3 Ave,40.748901,-73.976049,29100,Subscriber,1971,1
1877860,345,2018-09-30 23:58:30.7450,2018-10-01 00:04:16.3640,3082.0,Hope St & Union Ave,40.711674,-73.951413,3449.0,Eckford St & Engert Ave,40.721463,-73.948009,28316,Subscriber,1975,1
1877861,488,2018-09-30 23:58:34.7820,2018-10-01 00:06:43.6810,3578.0,Park Pl & Franklin Ave,40.674181,-73.956495,365.0,Fulton St & Grand Ave,40.682232,-73.961458,30226,Subscriber,2000,1
1877862,842,2018-09-30 23:58:37.6470,2018-10-01 00:12:39.7840,3042.0,Fulton St & Utica Ave,40.679427,-73.929891,365.0,Fulton St & Grand Ave,40.682232,-73.961458,25497,Subscriber,1966,1
1877863,380,2018-09-30 23:58:40.0860,2018-10-01 00:05:00.2600,3429.0,Hanson Pl & Ashland Pl,40.685068,-73.977908,364.0,Lafayette Ave & Classon Ave,40.689004,-73.960239,21164,Subscriber,1993,1
1877864,1768,2018-09-30 23:59:02.1730,2018-10-01 00:28:30.2590,345.0,W 13 St & 6 Ave,40.736494,-73.997044,303.0,Mercer St & Spring St,40.723627,-73.999496,28347,Customer,1996,1
1877865,1798,2018-09-30 23:59:05.9420,2018-10-01 00:29:04.4790,345.0,W 13 St & 6 Ave,40.736494,-73.997044,303.0,Mercer St & Spring St,40.723627,-73.999496,31437,Customer,1997,2
1877866,402,2018-09-30 23:59:11.3740,2018-10-01 00:05:54.2660,3088.0,Union Ave & Jackson St,40.716075,-73.952029,3109.0,Banker St & Meserole Ave,40.726060,-73.956210,17818,Customer,1998,1
1877867,435,2018-09-30 23:59:13.2830,2018-10-01 00:06:29.2650,3344.0,Pioneer St & Van Brunt St,40.679043,-74.011169,3308.0,Kane St & Clinton St,40.686176,-73.996453,27461,Subscriber,1982,1
1877868,588,2018-09-30 23:59:15.5250,2018-10-01 00:09:04.0340,251.0,Mott St & Prince St,40.723180,-73.994800,127.0,Barrow St & Hudson St,40.731724,-74.006744,33802,Subscriber,1987,1
1877869,527,2018-09-30 23:59:28.4510,2018-10-01 00:08:15.8240,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,3376.0,E 65 St & 2 Ave,40.764719,-73.962221,31399,Subscriber,1987,1
1877870,667,2018-09-30 23:59:33.5240,2018-10-01 00:10:40.5960,3092.0,Berry St & N 8 St,40.719009,-73.958525,3116.0,Huron St & Franklin St,40.732660,-73.958260,28314,Customer,1985,1
1877871,1961,2018-09-30 23:59:38.9630,2018-10-01 00:32:20.8800,3164.0,Columbus Ave & W 72 St,40.777057,-73.978985,536.0,1 Ave & E 30 St,40.741444,-73.975361,34843,Subscriber,1959,1
1877872,1111,2018-09-30 23:59:44.1330,2018-10-01 00:18:15.5410,143.0,Clinton St & Joralemon St,40.692395,-73.993379,3579.0,Sterling Pl & Bedford Ave,40.672695,-73.954131,25790,Subscriber,1991,1
1877873,666,2018-09-30 23:59:46.8790,2018-10-01 00:10:53.4910,3435.0,Grand St & Elizabeth St,40.718822,-73.995960,251.0,Mott St & Prince St,40.723180,-73.994800,18660,Customer,1988,1
1877874,257,2018-09-30 23:59:53.9750,2018-10-01 00:04:11.1160,3113.0,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3449.0,Eckford St & Engert Ave,40.721463,-73.948009,30053,Subscriber,1978,0
1877875,300,2018-09-30 23:59:56.4460,2018-10-01 00:04:56.7260,3656.0,E 2 St & Avenue A,40.723077,-73.985836,393.0,E 5 St & Avenue C,40.722992,-73.979955,15949,Subscriber,1987,2
1877877,2025,2018-09-29 19:19:13.8790,2018-09-29 19:52:59.6590,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,31521,Subscriber,1963,1
1877879,369,2018-09-30 00:27:25.9840,2018-09-30 00:33:35.7070,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,32976,Subscriber,1985,2
1877880,191,2018-09-30 00:30:30.1850,2018-09-30 00:33:42.1090,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3631.0,Crown St & Bedford Ave,40.666563,-73.956741,15595,Subscriber,1985,2
1877881,1442,2018-09-30 08:10:03.1790,2018-09-30 08:34:05.3870,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,471.0,Grand St & Havemeyer St,40.712868,-73.956981,28646,Subscriber,1981,1
1877882,453,2018-09-30 12:20:13.6830,2018-09-30 12:27:46.9140,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,34272,Subscriber,1986,1
1877883,1354,2018-09-30 14:10:01.1620,2018-09-30 14:32:36.1280,3601.0,Sterling St & Bedford Ave,40.662706,-73.956912,3321.0,Clinton St & Union St,40.683116,-73.997853,26028,Subscriber,1981,1

In [20]:
#Вопрос 11 Выберите идентификаторы станций(end station id), в которые приезжают с 6 до 10 утра
def get_hours(datetime):
    return datetime.hour

#pd.to_datetime(df.starttime).apply(get_hours)

In [81]:
end_stations = df.loc[(pd.to_datetime(df.stoptime).apply(get_hours) >= 6) & (pd.to_datetime(df.stoptime).apply(get_hours) <=10), ['stoptime', 'end station id']]

In [82]:
end_stations.head()

                      stoptime  end station id
94    2018-09-01 10:30:33.2080          3357.0
754   2018-09-01 10:56:01.2460           308.0
1700  2018-09-01 09:16:59.8800          3632.0
1721  2018-09-01 10:50:21.8320           486.0
1981  2018-09-01 07:17:32.5320          3129.0

In [83]:
end_stations.loc[end_stations['end station id'].apply(str) == '3140.0'].head(1)

                      stoptime  end station id
2664  2018-09-01 07:15:18.5340          3140.0

In [84]:
end_stations.loc[end_stations['end station id'].apply(str) == '3106.0'].head(1)

                      stoptime  end station id
2029  2018-09-01 08:04:48.1530          3106.0

In [85]:
end_stations.loc[end_stations['end station id'].apply(str) == '3116.0'].head(1)

                      stoptime  end station id
2086  2018-09-01 06:00:37.7540          3116.0

In [86]:
end_stations.loc[end_stations['end station id'].apply(str) == '369.0'].head(1)

                      stoptime  end station id
2808  2018-09-01 07:34:22.1930           369.0

In [3]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [87]:
#Выберите станцию (start station id) с максимальным количеством отправлений с 18 до 20 вечера
start_stations = end_stations = df.loc[(pd.to_datetime(df.starttime).apply(get_hours) >= 18) & (pd.to_datetime(df.starttime).apply(get_hours) <=20), ['start station id']]

In [88]:
start_stations.head(5)

       start station id
41236             520.0
41237            3562.0
41238            3641.0
41239            3163.0
41240             485.0

In [ ]:
start_stations['st'.value